$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fff9d4;
    color: #da5f3b;
    font-family: 'Lato', sans-serif;
    background: url(../images/background.jpg) top left repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.well, .hero-unit {
    background: rgba(255,255,255, 0.8);
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

tr.active {
    color: red !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'UnifrakturMaguntia', cursive;  
    color: #352819;
    font-size: 2em;
}
