<div class="row">
    <div class="span6 offset3 text-center">
        <div class="well">
            <h1>{{crock.name}}</h1>
            <strong>Categories</strong>
            <form name="voteForm" ng-submit="castVotes()" novalidate>

                <div ng-repeat="(key, val) in categories">
                    <p>{{val.name}} <em>{{val.weight}}%</em>
                        <span class="pull-right"></span>
                        <br />
                    <input required ng-model="votes[key]" type="range" min="1" max="10" />
                    {{votes[key]}} pts

                </div>

                <br />
                <br />
                <button ng-disabled="voteForm.$invalid" type="submit" class="btn btn-success btn-large">Cast Vote!</button>

            </form>
        </div>
    </div>
</div>
